.post-component {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .post-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 600px;
    margin: 0 auto;
  }

  .post-container {
    display: flex;
    position: relative;
    padding: 0 30px;
    margin-top: 30px;

    .post-article {
      width: 60%;

      margin: 0 auto;

      .post-title {
        margin-bottom: 30px;
        .hash-tag {
          a {
            font-size: 1rem;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .post-relative-list {
      width: 20%;
      position: relative;
      display: flex;
      flex-direction: column;


      .relate-post {

        cursor: pointer;
        width: 300px;
        margin: 15px;
      }
    }
  }
}
