.quizz-level {
  color: #ffffff;
  background-color: #7cc6fe;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;

  .game {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 450px;
    .tutorial {
      font-size: 30px;
      text-align: center;
    }
    .btn-list {
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    padding: 30px;
  }

  .tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 90%;
    font-weight: 600;

    .question-count {
      font-size: 32px;
      height: 20%;
    }
    .question-intro {
      font-size: 28px;
    }
    .question-text {
      font-size: 28px;
      height: 20%;
      margin: 50px 0;
    }

    .answer-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      .answer-btn {
        margin-top: 50px;
      }
      .input {
        background-color: #5285b5;
        position: relative;
        border-radius: 24px;
        margin: 0 auto;
        width: 100%;
        input {
          background-color: #639dd3;
          color: #fff;
          font-weight: 600;
          font-size: 18px;
          width: 100%;
          border-radius: 24px;
          padding: 15px;
          outline: none;
          border: none;
          display: flex;
        }
        ::placeholder {
          color: #fff;
          opacity: 0.5;
        }
      }
    }
  }

  .bottom-btn {
    display: flex;
    justify-content: space-between;
  }

  button {
    width: 150px;
    margin: 15px;
    font-size: 18px;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    align-items: center;
    color: #fff;
    text-transform: none;
  }

  button:hover {
    background-color: #252d4ac1;
  }

}
